.center-text {
	font-size: 100px;
}

.stimulus1 {
	position: absolute;
	background-color: black;
	top: 10vh;
	left: 10vw;
	width: 100px;
	height: 100px;
}

.stimulus2 {
	position: absolute;
	background-color: black;
	top: 20vh;
	left: 60vw;
	width: 100px;
	height: 100px;
}

.stimulus3 {
	position: absolute;
	background-color: black;
	top: 60vh;
	left: 30vw;
	width: 100px;
	height: 100px;
}


.fb_box {
  width:35vw;
  height: 20vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-150%);
}
