.display_stage {
    position: fixed;
    background: #000;
    left: 5vw;
    top: 2vh;
    height: 94vh;
    width: 90vw;
    background-color: #000000;
    //border-radius: 15px;
    //border: 1vh solid #D0D0D0;
    z-index: 0;
	padding: 30px 30px 30px 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.centerbox {
  padding: 200px;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}
.center-text {
  color: white;
  font-size: 100px;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}

.center-div-text {
  width: 100px;
  height: 100px;
  color: white;
  font-size: 100px;
  text-align: center;
  line-height: 90px;
}

.F {
	color: #00FF00;
}

.O {
	color: #0000FF;
}

.B {
	color: #FF0000;
}

.display_stage > div, .display_stage > p {
  color: white;
}
